@import url(//db.onlinewebfonts.com/c/08aae9f020949051ff8331be100607cb?family=Archive);
@font-face {
  font-family: "Archive";
  src: url("//db.onlinewebfonts.com/t/08aae9f020949051ff8331be100607cb.ttf")
    format("truetype");
}
.search {
  display: flex;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

footer {
  left: 0;
  right: 0;
  width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: rgb(236, 79, 58);
  text-decoration: none;
}

#firstExplore,
#secondExplore {
  padding: 70px 50px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

#firstExplore {
  margin: 5em 0em 0em 0em;
  background-color: rgba(252, 101, 31, 0.75);
}
#secondExplore {
  margin: 0em 0em;
}
.row {
  align-items: center;
  justify-content: center;
}
.row img {
  width: 100%;
  max-width: fit-content;
}

#imageCol {
  flex: 0 0 auto;
}
#textCol {
  flex: 1 1 auto;
  padding: 1em;
}
#firstExplore h3,
#secondExplore h3 {
  font-family: "Archive", sans-serif;
}
p {
  font-weight: bold;
  font-family: "Arvo", serif;
}
.btn-grad {
  background-image: linear-gradient(
    to right,
    #232526 0%,
    #414345 51%,
    #232526 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  width: 50%;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
